* {
    margin: 0;
    padding: 0;
}

.skyImage {
    height: 100vh;
    width: 100%;
    background-image: url(Pitchers/sky2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.road {
    
    height: 200px;
    width: 500%;
    background-image: url(Pitchers/road.jpg);
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 1;
    background-repeat: repeat-x;
    animation: road 1s linear infinite;
}

@keyframes road {
    100% {
        transform: translateX(-3400px);
    }
}

.city {
    
    height: 200px;
    width: 500%;
    background-image: url(Pitchers/city.png);
    bottom: 200px;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 1;
    background-repeat: repeat-x;
    animation: road 20s linear infinite;
}

@keyframes road {
    100% {
        transform: translateX(-1400px);
    }
}

.car {
    
    width: 400px;
    bottom: 100px;
    left: 50%;
   transform: translateX(-50px);
    position: absolute;
    z-index: 2;
    
}

.car img {
    
    width: 400px;
    margin-left: -250px;
}

.wheels {
    
    left: 40%;
    bottom: 178px;
    transform: translateX(-50%);
    position: absolute;
    z-index: 2;
    
}

.wheels img {
    
    width: 72px;
    height: 72px;
    animation: wheels 1s linear infinite;
}

.back-wheel {
    
    left: -105px;
    position: absolute;
     bottom: -68px;
}

.front-wheel {
    
    left: 140px;
    position: absolute;
    bottom: -68px;
}

@keyframes wheels {
    100% {
        transform: rotate(360deg);
    }